@font-face {
	font-family: 'logo';
	src: url('/public/fonts/logo.eot');
	src: url('/public/fonts/logo.woff2') format('woff2'),
	url('/public/fonts/logo.woff') format('woff'),
	url('/public/fonts/logo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.logo {
	font: 32px/42px 'logo';
	color: $white;
	letter-spacing: 0.5px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
}