<header class="header">
    <button class="menu-button"><span class="hamburger"></span></button>
    <button class="icon-search"></button>
    <a href="/" class="logo">ladyone</a>
</header>
<form action="#" class="search" data-module="Search">
    <button class="search__button" type="submit">ИСКАТЬ</button>
    <input type="text" class="search__input"/>
</form>