<nav class="menu">
    <% for(var i=0; i<nav.length; i++) {%>
        <a href="/<%=nav[i].link%>"><%= nav[i].name %></a>
    <% } %>
    <a href="#main">Главная</a>
    <a href="#blog/celebs">Знаменитости</a>
    <a href="#blog/moda">Мода</a>
    <a href="#blog/beautiful">Красота</a>
    <a href="#blog/soblazn">Любовь &amp; секс</a>
    <a href="#blog/home">Дом</a>
    <a href="#blog/vkusno">Кулинария</a>
    <a href="#blog/career">Карьера</a>
    <a href="#blog/magia">Магия</a>
    <a href="#blog/humor">Юмор</a>
</nav>