<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .preloader:before {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 9999;
            text-align: center;
            box-sizing: border-box;
            padding: 200px 0 0;
            font-size: 18px;
            background: #FFEFFF;
            content: 'Сайт загружается...';
        }
    </style>
    <title>Мобильный сайт для женщин</title>
    <meta name="description" content="Полезные статьи на темы: мода, красота, здоровье, семья, мужчины, интим, отношения, отдых. Стань леди №1 с ladyone.in.ua">
    <meta name="keywords" content="женский сайт, женский портал, мода, красота, здоровье, семья, мужчины, интим, отношения, отдых">
</head>
<body class="preloader">
<div class="wrapper">
    <form action="#" class="search">
        <button class="search__button" type="submit">ИСКАТЬ</button>
        <input type="text" class="search__input"/>
    </form>
    <header class="header">
        <button class="menu-button"><span class="hamburger"></span></button>
        <button class="icon-search"></button>
        <a href="/" class="logo">ladyone</a>
    </header>
    <div class="content">
        <div id="1">1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iusto minus repudiandae rerum vel! Inventore nam, repellat! Accusantium amet, commodi consequatur deleniti eius et fugit in ipsam laboriosam laborum magnam nemo neque officiis qui reiciendis tenetur voluptatibus. Beatae explicabo impedit maxime natus odit optio reprehenderit similique? Animi debitis doloremque, dolorum enim hic iste, maiores odit, officiis quibusdam quisquam ratione reiciendis repudiandae vel. Aliquid architecto autem cum deserunt doloremque dolores ducimus error eum facilis fugiat, labore magnam, minima minus nam nobis, pariatur praesentium provident quod quos rem repellat suscipit velit voluptatibus. Adipisci commodi corporis nulla perspiciatis quod, voluptas? In maiores, vitae?</div>
        <div id="2">2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iusto minus repudiandae rerum vel! Inventore nam, repellat! Accusantium amet, commodi consequatur deleniti eius et fugit in ipsam laboriosam laborum magnam nemo neque officiis qui reiciendis tenetur voluptatibus. Beatae explicabo impedit maxime natus odit optio reprehenderit similique? Animi debitis doloremque, dolorum enim hic iste, maiores odit, officiis quibusdam quisquam ratione reiciendis repudiandae vel. Aliquid architecto autem cum deserunt doloremque dolores ducimus error eum facilis fugiat, labore magnam, minima minus nam nobis, pariatur praesentium provident quod quos rem repellat suscipit velit voluptatibus. Adipisci commodi corporis nulla perspiciatis quod, voluptas? In maiores, vitae?</div>
        <div id="3">3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iusto minus repudiandae rerum vel! Inventore nam, repellat! Accusantium amet, commodi consequatur deleniti eius et fugit in ipsam laboriosam laborum magnam nemo neque officiis qui reiciendis tenetur voluptatibus. Beatae explicabo impedit maxime natus odit optio reprehenderit similique? Animi debitis doloremque, dolorum enim hic iste, maiores odit, officiis quibusdam quisquam ratione reiciendis repudiandae vel. Aliquid architecto autem cum deserunt doloremque dolores ducimus error eum facilis fugiat, labore magnam, minima minus nam nobis, pariatur praesentium provident quod quos rem repellat suscipit velit voluptatibus. Adipisci commodi corporis nulla perspiciatis quod, voluptas? In maiores, vitae?</div>
        <div id="4">4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iusto minus repudiandae rerum vel! Inventore nam, repellat! Accusantium amet, commodi consequatur deleniti eius et fugit in ipsam laboriosam laborum magnam nemo neque officiis qui reiciendis tenetur voluptatibus. Beatae explicabo impedit maxime natus odit optio reprehenderit similique? Animi debitis doloremque, dolorum enim hic iste, maiores odit, officiis quibusdam quisquam ratione reiciendis repudiandae vel. Aliquid architecto autem cum deserunt doloremque dolores ducimus error eum facilis fugiat, labore magnam, minima minus nam nobis, pariatur praesentium provident quod quos rem repellat suscipit velit voluptatibus. Adipisci commodi corporis nulla perspiciatis quod, voluptas? In maiores, vitae?</div>
        <div id="5">5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iusto minus repudiandae rerum vel! Inventore nam, repellat! Accusantium amet, commodi consequatur deleniti eius et fugit in ipsam laboriosam laborum magnam nemo neque officiis qui reiciendis tenetur voluptatibus. Beatae explicabo impedit maxime natus odit optio reprehenderit similique? Animi debitis doloremque, dolorum enim hic iste, maiores odit, officiis quibusdam quisquam ratione reiciendis repudiandae vel. Aliquid architecto autem cum deserunt doloremque dolores ducimus error eum facilis fugiat, labore magnam, minima minus nam nobis, pariatur praesentium provident quod quos rem repellat suscipit velit voluptatibus. Adipisci commodi corporis nulla perspiciatis quod, voluptas? In maiores, vitae?</div>
    </div>
    <div class="menu-page-overlay"></div>
</div>

<%- include  ../blocks/nav.ejs %>
<script>document.write('<link rel="stylesheet" href="/public/styles/main.css"/>');</script>
<script src="/public/js/main.js"></script>
</body>
</html>