$buttonW = 50px;
$menuW = 260px;
$hamW = 24px;

.menu-button {
	float: left;
	background: none;
	width: $buttonW;
	height: $headerH;
	border-radius: 2px;
	border: none;
	box-sizing: border-box;
	padding: 0 (($buttonW - $hamW) / 2);
}

.hamburger {
	display: block;
	width: $hamW;
	background: $white;
	position: relative;
	height: 4px;
	border-radius: 2px;

	&:after,
	&:before {
		border-radius: 2px;
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background: $white;
	}

	&:before {
		top: -7px;
	}

	&:after {
		bottom: -7px;
	}
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	overflow: auto;
	width: $menuW;
	background: darken($accent, 10%);
	transform: translate3d(0,0,0);

	a {
		display: block
		font-size: 16px;
		height: 40px;
		text-decoration: none;
		color: $white;
		line-height: 40px;
		padding: 0 0 0 15px;
		border-bottom: 1px dashed $accentLight;
		
		&.hover {
			background: rgba($dark, 0.5)
		}
	}
}

.menu-page-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($dark, 0.4);
	display: none;
	z-index: 200;

	.menu-active & {
		display: block;
	}
}

.wrapper {
	transition: transform 0.15s;
	transform: translate3d(0,0,0);
}

.menu-active {
	transform: translateX($menuW);
	box-shadow: 0 0 3px black;
}